<h1>Submit a new question</h1>

<form action="/questions" method="POST">
  <p></p><label>Question Title:</label></p>
  <input type="text" name="title">
  <p><label>Question Body:</label></p>
  <textarea name="body"></textarea>
  <p><input type="submit" name="submit question"></p>
</form>
