<form action="/questions/:question_id/answers" method="POST">
  <label>Create new answer</label>
  <input type="text" name="body" placeholder="Enter answer">
  <input type="submit" name="Submit">
</form>
