<!-- viewable by only current logged in user -->
<a href="/">Home</a>
<a href="/questions">Questions</a>
<% if current_user %>
  <a href="/users/<%= current_user.id %> ">Profile Page</a>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
  <!-- viewable by all users -->
<% else %>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Register</a>
<% end %>
